@model Kurs

<form method="post">
  <input type="hidden" asp-for="KursId" />
  <div class="mb-3">
    <label asp-for="Baslik" class="form-label">Kurs Başlık</label>
    <input asp-for="Baslik" class="form-control" />
  </div>
  <div class="mb-3">
    <label asp-for="OgretmenId" class="form-label">Öğretmen</label>
    <select
      asp-for="OgretmenId"
      asp-item="ViewBag.Ogretmenler"
      class="form-select"
    >
      <option value="">Seçiniz</option>
    </select>
  </div>
  <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
